[package]
name = "secretive-proto"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
bytes.workspace = true
thiserror.workspace = true
tokio.workspace = true

[dev-dependencies]
hex = "0.4"
