[package]
name = "secretive-core"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
secretive-proto = { path = "../secretive-proto" }
thiserror.workspace = true
serde.workspace = true
